/* TODO: use less css */
section.main {
	background: -webkit-linear-gradient(top, rgba(237, 238, 242, 1), rgba(237, 238, 242, 1)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(237, 238, 242, 1), rgba(237, 238, 242, 1)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(237, 238, 242, 1), rgba(237, 238, 242, 1)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(237, 238, 242, 1), rgba(237, 238, 242, 1));
    padding-left: 0;
    padding-right: 0;
}
.map-canvas {
    height: 700px;
    width: 750px;
    margin: auto;
}
#new-todo {
	max-width: 400px;
	display: inline-block;
}
.container-fluid {
	max-width: 900px;
}
.searchCntnr aside {
    width: 280px;
    margin: auto;
    overflow: hidden;
}
.input-lg+.btn {
	vertical-align: top;
	background-color: #0275d8;
    border: none;
    height: 25px;
    border-radius: 0;
    float: left;
    -webkit-box-shadow: 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 0px rgba(0,0,0,0.75);
}
.input-lg+.btn:hover {
	vertical-align: top;
	background-color: #269abc;
}
.input-lg {
	height: 25px;
    border: none;
    border-radius: 0;
    float: left;
    -webkit-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: -8px 10px 5px 0px rgba(0,0,0,0.75);
}
header h3, header h4 {
	display: inline-block;
}
header {
    color: #fff;
    text-align: center;
    background-color: #0275d8;
    padding-bottom: 6px;
    margin-bottom: 20px;
}
.searchCntnr {
	text-align: center;
    margin-bottom: 20px;
}
footer {
	margin-top: 25px;
}
ul.tools {
	margin-top: 10px;
    text-align: left;
    padding-left: 0;
}
ul.tools li {
    width: auto;
    margin: 0 0 0 12px;
    display: inline;
    font-size: 11px;
    line-height: 1;
    color: #aaa;
}
ul {
	list-style: none;
}
.avatarCntnr img{
	width: 50px;
    border-radius: 25px;
    margin-top: 10px;
    float: left;
}
.avatarCntnr img + ul{
	padding-left: 15px;
    padding-top: 10px;
    width: 150px;
    float: left;
}
ul.tools li.fav {
	background-image: url("/fav.png");
    background-repeat: no-repeat;
    padding-left: 15px;
    margin-left: 10px;
}
ul.tools li.cmnt {
	background-image: url("/cmnt.png");
    background-repeat: no-repeat;
    padding-left: 15px;
    margin-left: 10px;
}
ul.tools li.views {
	background-image: url("/view.png");
    background-repeat: no-repeat;
    padding-left: 15px;
    margin-left: 50px;
}
.error {
	border: 2px dashed red;
}
